<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="src/css/styles.css">

    <title>{{ title }}</title>
    
  </head>
  <body>
    <div class="container">
      <div>
        <img src="/images/header.png" width="100%" height="280">
      </div>

      <p>
        Dear [user’s last name] [user’s first name] [user’s middle name IF PRESENT IN DATA],
        We are contacting you because there is an amount due on your purchase
        [purchase id]:
      </p>

      <div class="cs-center">
        <table>
          <tr>
            <th colspan="3" class="table-header">The table header</th>
          </tr>
          <tr>
            <td>Date</td>
            <td colspan="2">Date</td>
          </tr>
          <tr class="cs-row">
            <td>Quantity</td>
            <td>Name</td>
            <td>Price</td>
          </tr>
          <tr class="cs-row">
            <td>Quantity</td>
            <td>Name</td>
            <td>Price</td>
          </tr>
          <tr class="cs-row">
            <td>Quantity</td>
            <td>Name</td>
            <td>Price</td>
          </tr>
          <tr>
            <td></td>
            <td><strong>Total amount</strong></td>
            <td>Amount Kn</td>
          </tr>
          <tr class="cs-row">
            <td></td>
            <td><strong>Amount paid</strong></td>
            <td>Amount paid Kn</td>
          </tr>
        </table>        
      </div>

      <p>
        According to our records, the amount due is [amount due] Kn. Please, click on the next
        button to pay this difference:
      </p>

      <div class="cs-button">
        <a href="" >
          <strong>PAY NOW</strong>
        </a>
      </div>

      <div>
        <p>If you have any other concerns, please contact our technical support team.</p>
        <p>Kind regards,</p>
        <p>Petson Team</p>
      </div>
    </div>
  </body>
</html>
